.new-job-form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

.new-job-form input,
.new-job-form textarea,
.new-job-form button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.new-job-form input:focus,
.new-job-form textarea:focus {
    outline: none;
    border-color: #6c63ff;
    /* purple focus outline */
}

.new-job-form button {
    background-color: #6c63ff;
    /* purple button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new-job-form button:hover {
    background-color: #574b90;
    /* darker purple on hover */
}